---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
---

<BaseLayout
  title="Pixel Perfect Websites"
  description="Meta description for the page"
>
  <!-- ============================================ -->
  <!--                    Hero                      -->
  <!-- ============================================ -->

  <section id="hero">
    <div class="cs-container">
      <div class="cs-flex-group">
        <span class="cs-topper">Intermediate Kit</span>
        <h1 class="cs-title">Intermediate Astro v4 <br/> Decap CMS</h1>
        <p class="cs-text">
          This intermediate kit includes a pre-configured Astro environment, which
allows for repeated components, centralized data and greater room to scale as your clients grow. Decap CMS has been integrated to run a blog.
        </p>
        <a href="/about" class="cs-button-solid">Explore More</a>
        <a href="/contact" class="cs-button-transparent">
          <img
            class="cs-img"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
            alt="play icon"
            width="17"
            height="17"
          />
          Get in Touch
        </a>
      </div>
    </div>

    <!-- Background Image -->
    <!-- We can't use Astro <Picture /> as it does not support multiple sources -->
    <picture class="cs-picture">
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/hero-m.webp"
      />
      <source media="(min-width: 601px)" srcset="/assets/images/hero.jpg" />
      <img
        aria-hidden="true"
        decoding="async"
        src="/assets/images/hero.jpg"
        alt="new home"
        width="2500"
        height="1667"
        loading="eager"
      />
    </picture>

  </section>

  <!-- ============================================ -->
  <!--                  Services                    -->
  <!-- ============================================ -->

  <section id="services" class="services">
    <div class="card">
      <picture>
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/svgs/service1.svg"
          alt="appliance"
          width="48"
          height="48"
        />
      </picture>
      <h2>Service 1</h2>
      <p>
        Talk about the service with keywords people will be searching for it by.
        Keep it 1-2 sentences.
      </p>
    </div>
    <div class="card">
      <picture>
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/svgs/service2.svg"
          alt="appliance"
          width="48"
          height="48"
        />
      </picture>
      <h2>Service 2</h2>
      <p>
        Talk about the service with keywords people will be searching for it by.
        Keep it 1-2 sentences.
      </p>
    </div>
    <div class="card">
      <picture>
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/svgs/service3.svg"
          alt="appliance"
          width="48"
          height="48"
        />
      </picture>
      <h2>Service 3</h2>
      <p>
        Talk about the service with keywords people will be searching for it by.
        Keep it 1-2 sentences.
      </p>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                 Side By Side                 -->
  <!-- ============================================ -->

  <section id="sbs">
    <div class="cs-container">
      <!-- Left Image Section -->
      <div class="cs-left">
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/cabinets2-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/cabinets2.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/cabinets2.jpg"
            alt="cabinets"
            loading="lazy"
            width="400"
            height="563"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/construction-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/construction.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/construction.jpg"
            alt="house"
            loading="lazy"
            width="400"
            height="563"
          />
        </picture>
      </div>
      <!-- Right Content Section-->
      <div class="cs-right">
        <span class="cs-topper">About Us</span>
        <h2 class="cs-title">About Company Title</h2>
        <p class="cs-text">
          In consequat tincidunt turpis sit amet imperdiet. Praesent Class
          officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur
          et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent
          nonatourean olei aptent taciti sociosqu ad litora torquent per.
        </p>
        <p class="cs-text">
          In consequat tincidunt turpis sit amet imperdiet. Praesent Class
          officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur
          et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent
          nonatourean olei aptent taciti sociosqu ad litora torquent per.
        </p>
        <div class="cs-flex-group">
          <p class="cs-flex-p">
            In consequat tincidunt turpis sit amet imperdiet. Praesent Classei
            consequat tincidunt turpis sit amet imperdiet for mind.
          </p>
          <span class="cs-name">Justin Time</span>
          <span class="cs-job">CEO-Founder</span>
          <img
            class="cs-quote-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
            alt="gavel"
            width="136"
            height="77"
          />
        </div>
        <a href="/about" class="cs-button-solid">More About Us</a>
      </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--            Extra Content To Rank             -->
  <!-- ============================================ -->

  <section id="sbs-r">
    <div class="cs-container">
      <!-- Left Image Section -->
      <div class="cs-left">
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/construction-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/construction.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/construction.jpg"
            alt="house"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/cabinets2-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/cabinets2.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/cabinets2.jpg"
            alt="cabinets"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
      </div>
      <!-- Right Content Section-->
      <div class="cs-right">
        <span class="cs-topper">SEO Ranking</span>
        <h2 class="cs-title">Talk about a main service keyword</h2>
        <p class="cs-text">
          In consequat tincidunt turpis sit amet imperdiet. Praesent Class
          officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur
          et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent
          nonatourean olei aptent taciti sociosqu ad litora torquent per.
        </p>
        <p class="cs-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non tenetur,
          iure nihil ipsam qui atque commodi id voluptatem nesciunt, quis animi
          fuga cum doloribus! Eaque laboriosam, unde consectetur iure asperiores
          ullam. Consequuntur debitis a voluptatibus vitae optio autem explicabo
          quia neque est quas, in placeat. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Doloribus modi laudantium voluptatibus
          rem libero error minus quia eligendi sapiente eos.
        </p>
      </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                   Gallery                    -->
  <!-- ============================================ -->

  <section id="gallery">
    <div class="cs-container">
      <span class="cs-topper">Our Portfolio</span>
      <h2 class="cs-title">
        Et orci volutpat, back up generator installations
      </h2>
      <div class="cs-image-group">
        <!-- Row 1-->
        <div class="cs-row cs-row-1">
          <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
          <picture class="cs-picture cs-picture1">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port1-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port1.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port1.jpg"
              alt="new hallway"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <picture class="cs-picture cs-picture2">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port4-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port4.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port4.jpg"
              alt="new home construction"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <picture class="cs-picture cs-picture3">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port7-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port7.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port7.jpg"
              alt="building a new wall"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
        </div>
        <!-- Row 2 -->
        <div class="cs-row cs-row-2">
          <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
          <picture class="cs-picture cs-picture1">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port2-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port2.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port2.jpg"
              alt="new kitchen"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <picture class="cs-picture cs-picture2">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port5-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port5.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port5.jpg"
              alt="apartment addition"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <picture class="cs-picture cs-picture3">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port8-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port8.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port8.jpg"
              alt="kew kitchen cabinets"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
        </div>
        <!-- Row 3 -->
        <div class="cs-row cs-row-3">
          <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
          <picture class="cs-picture cs-picture1">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port3-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port3.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port3.jpg"
              alt="new kitchen"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <picture class="cs-picture cs-picture2">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port6-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port6.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port6.jpg"
              alt="apartment addition"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <picture class="cs-picture cs-picture3">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port9-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port9.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port9.jpg"
              alt="kew kitchen cabinets"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
        </div>
      </div>
      <a href="/projects" class="cs-button-solid">View all projects</a>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                   Reviews                    -->
  <!-- ============================================ -->

  <section id="reviews">
    <div class="cs-container">
      <span class="cs-topper">Our Reviews</span>
      <h2 class="cs-title">Words From Our Customers</h2>
      <p class="cs-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor
        volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida
        viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo,
        ornare. Lorem ipsum dolor sit amet.
      </p>
      <ul class="cs-card-group">
        <!-- Review 1 -->
        <li class="cs-item">
          <img
            class="cs-item-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
            alt="profile picture"
            width="80"
            height="80"
          />
          <p class="cs-item-p">
            Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor
            habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed
            ullamcorper lectus et. Auctor velit diam fermentum consequat.
            Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
          </p>
          <span class="cs-reviewer">
            Jon Doe
            <span class="cs-desc">Homeowner</span>
          </span>
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
            alt="stars"
            width="96"
            height="16"
          />
        </li>
        <!-- Review 2 -->
        <li class="cs-item">
          <img
            class="cs-item-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
            alt="profile picture"
            width="80"
            height="80"
          />
          <p class="cs-item-p">
            Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor
            habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed
            ullamcorper lectus et. Auctor velit diam fermentum consequat.
            Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
          </p>
          <span class="cs-reviewer">
            Jane Doe
            <span class="cs-desc">Homeowner</span>
          </span>
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
            alt="stars"
            width="96"
            height="16"
          />
        </li>
      </ul>
      <a aria-label="read more reviews" href="/reviews" class="cs-button-solid"
        >Our Reviews</a
      >
    </div>
  </section>

  <CTA />
</BaseLayout>

<style lang="less">
  /* STYLES FOR ABOVE THE FOLD */

  /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    #hero {
      font-family: "Roboto", "Arial", sans-serif;
      /* Centers button */
      text-align: center;
      /* changes on tablet */
      padding: 0 (16/16rem);
      padding-bottom: (100/16rem);
      position: relative;
      z-index: 1;
      /* prevents overflow from the lines extending past the screen width */
      overflow: hidden;

      .cs-picture {
        /* Background Image */
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;

        &:before {
          /* Black Color Overlay */
          content: "";
          width: 100%;
          height: 100%;
          background: #000;
          opacity: 0.7;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          /* prevents the cursor from interacting with it */
          pointer-events: none;
        }

        img {
          width: 100%;
          height: 100%;
          /* Makes image act like a background-image */
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-container {
        width: 100%;
        max-width: (1280/16em);
        margin: auto;
        /* we put the padding top and bottom on the container instead of #Hero so the pseudo element lines go to the top and bottom of the section */
        /* 144px - 280px - leaving extra space for the navigation */
        /* changes on tablet */
        padding: clamp(9em, 25.95vw, 17.5em) 0;
        position: relative;

        &:before {
          /* Left Line */
          content: "";
          width: 1px;
          height: 100%;
          background: -moz-linear-gradient(
            top,
            rgba(250, 251, 252, 0.5) 0%,
            rgba(250, 251, 252, 0) 100%
          ); /* FF3.6-15 */
          background: -webkit-linear-gradient(
            top,
            rgba(250, 251, 252, 0.5) 0%,
            rgba(250, 251, 252, 0) 100%
          ); /* Chrome10-25,Safari5.1-6 */
          opacity: 1;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-flex-group {
        width: 80vw;
        /* 464px - 562px */
        max-width: clamp(29em, 60vw, 35.125em);
        margin: auto;
        /* 60px - 220px */
        margin-bottom: clamp(3.75em, 15.5vw, 13.75em);
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
      }

      .cs-topper {
        text-align: center;
        margin-bottom: (16/16rem);
        color: var(--primary);
      }

      .cs-title {
        text-align: center;
        width: 100%;
        color: var(--bodyTextColorWhite);
      }

      .cs-text {
        text-align: center;
        /* 32px - 40px */
        margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
        /* 40px - 48px */
        margin-bottom: clamp(2.5rem, 4vw, 3rem);
        color: var(--bodyTextColorWhite);
      }

      .cs-button-solid {
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        height: initial;
        margin-bottom: calc(16 / 16 * 1rem);
      }

      .cs-button-transparent {
        font-size: (16/16rem);
        font-weight: 700;
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        width: (180/16rem);
        /* 46px - 56px */
        height: clamp(2.875em, 5.5vw, 3.5em);
        margin: 0 (8/16rem);
        box-sizing: border-box;
        padding: 0;
        color: #fff;
        background-color: transparent;
        border: 1px solid var(--bodyTextColorWhite);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;

        &:before {
          content: "";
          background: #000;
          opacity: 1;
          display: block;
          position: absolute;
          /* so it sits on top of the border */
          top: -1px;
          right: -1px;
          bottom: -1px;
          left: -1px;
          z-index: -1;
          /* this is what creates the grow affect on hover */
          transform: scaleX(0);
          transition: transform 0.3s;
          transform-origin: left;
        }

        &:hover {
          &:before {
            transform: scaleX(1);
          }
        }

        .cs-img {
          margin-right: (12/16rem);
          display: block;
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48em) {
    #hero {
      /* 32px - 40px */
      padding: 0 clamp(2em, 5vw, 2.5em);

      .cs-container {
        padding: clamp(7em, 27.95vw, 17.5em) 0 clamp(9em, 30.95vw, 23.5em) 0;
        &:after {
          /* Right Line */
          content: "";
          width: 1px;
          height: 100%;
          background: -moz-linear-gradient(
            top,
            rgba(250, 251, 252, 0) 0%,
            rgba(250, 251, 252, 0.5) 100%
          ); /* FF3.6-15 */
          background: -webkit-linear-gradient(
            top,
            rgba(250, 251, 252, 0) 0%,
            rgba(250, 251, 252, 0.5) 100%
          ); /* Chrome10-25,Safari5.1-6 */
          opacity: 1;
          display: block;
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      .cs-button-solid {
        margin-right: (20/16rem);
        margin-bottom: 0;
      }
    }
  }

  /* Desktop Parallax Effect - 1300px */
  @media only screen and (min-width: 81.25em) {
    #hero {
      background: url("/assets/images/hero.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      /* creates parallax effect on background image */
      background-attachment: fixed;
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #hero {
        .cs-background {
          &:before {
            opacity: 0.8;
          }
        }
      }
    }
  }

  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

  /* Mobile */
  @media only screen and (min-width: 0em) {
    .services {
      width: 90%;
      max-width: (1320/16em);
      margin: auto;
      margin-top: (-167/16em);
      margin-bottom: (50/16em);
      padding: (50/16em) (20/16em);
      background: #fff;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
      border-top: (6/16em) solid var(--primary);
      border-radius: (5/16em);
      position: relative;
      z-index: 100;
      .card {
        width: 100%;
        max-width: (357/16em);
        margin: auto;
        margin-bottom: (50/16em);
        display: block;
        &:last-of-type {
          margin-bottom: 0;
        }

        picture {
          width: (88/16em);
          height: (88/16em);
          margin: auto;
          margin-bottom: (23/16em);
          background: var(--primary);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: (48/16em);
            height: (48/16em);
          }
        }
        h2 {
          font-size: (32/16em);
          font-weight: 700;
          line-height: 27/20em;
          text-align: center;
          margin-bottom: 13/20em;
          color: #1a1a1a;
        }
        p {
          line-height: 24/18em;
          text-align: center;
          width: 100%;
          opacity: 0.7;
        }
      }
    }
  }

  /* Inbetween */
  @media only screen and (min-width: 768px) {
    .services {
      font-size: ~"min(1.8vw, 1em)";
      width: 98%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .card {
        max-width: (325/16em);
        margin: 0;
      }
    }
  }

  /* Large Desktop */
  @media only screen and (min-width: 1300px) {
    .services {
      padding: (50/16em) (80/16em);

      .card {
        max-width: (357/16em);
      }
    }
  }

  /* Dark mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #services {
        background: var(--medium);

        picture {
          background: var(--primaryDark);
        }

        h2 {
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }

  /* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

  /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    #sbs {
      padding: var(--sectionPadding);

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: (40/16rem);
      }

      .cs-left {
        /* scaling the font size with the view width */
        font-size: ~"min(2.31vw, .7em)";
        /* using ems so we can use font size to scale the whole section */
        width: (631/16em);
        height: (636/16em);
        position: relative;
      }

      .cs-picture {
        border-radius: (24/16em);
        display: block;
        position: absolute;
        /* clips img tag corners */
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          /* makes image act like a background image */
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-picture1 {
        width: (522/16em);
        height: (581/16em);
        top: 0;
        left: 0;
      }

      .cs-picture2 {
        width: (414/16em);
        height: (400/16em);
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
        /* 6px - 12px */
        border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
        right: 0;
        bottom: 0;
      }

      .cs-right {
        max-width: (542/16rem);
        margin: auto;
      }

      .cs-topper {
        text-align: left;
        margin-bottom: (4/16rem);
      }

      .cs-title {
        text-align: left;
        max-width: (800/16rem);
      }

      .cs-text {
        text-align: left;
        max-width: (750/16rem);
        margin-bottom: (16/16rem);

        &:last-of-type {
          margin-bottom: (32/16rem);
        }
      }

      .cs-flex-group {
        /* 16px - 32px */
        padding: clamp(1rem, 3vw, 2rem);
        background-color: #f7f7f7;
        border-radius: (16/16rem);
        position: relative;
      }

      .cs-flex-p {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin: 0 0 (16/16rem);
        color: #353535;
      }

      .cs-name {
        font-size: (16/16rem);
        font-weight: bold;
        line-height: 1.2em;
        text-transform: uppercase;
        margin: 0 0 (4/16rem);
        color: var(--headerColor);
        display: block;
      }

      .cs-job {
        font-size: (14/16rem);
        line-height: 1.5em;
        color: #353535;
        display: block;
      }

      .cs-quote-icon {
        /* 60px - 136px */
        width: clamp(3.75rem, 10vw, 8.5rem);
        height: auto;
        position: absolute;
        /* 16px - 32px */
        right: clamp(1rem, 4vw, 2rem);
        bottom: (0/16rem);
      }

      .cs-button-solid {
        margin-top: (32/16rem);
      }
    }
  }

  /* Desktop - 1024px */
  @media only screen and (min-width: 64em) {
    #sbs {
      .cs-container {
        flex-flow: row;
        justify-content: space-between;
        gap: (52/16rem);
      }

      .cs-left {
        font-size: ~"min(1.2vw, 1em)";
        flex: none;
      }

      .cs-right {
        margin: 0;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #sbs {
        .cs-left {
          &:before,
          &:after {
            background: var(--accent);
          }
        }

        .cs-picture2 {
          background-color: var(--dark);
          /* 6px - 12px */
          border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
        }

        .cs-topper {
          color: var(--primaryLight);
        }

        .cs-title,
        .cs-text,
        .cs-h3,
        .cs-flex-p,
        .cs-name {
          color: var(--bodyTextColorWhite);
        }

        .cs-flex-group {
          background-color: var(--accent);
        }

        .cs-job {
          color: var(--bodyTextColorWhite);
          opacity: 0.8;
        }

        .cs-quote-icon {
          opacity: 0.2;
        }
      }
    }
  }

  /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    #sbs-r {
      padding: var(--sectionPadding);

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: (40/16rem);
      }

      .cs-left {
        /* scaling the font size with the view width */
        font-size: ~"min(2.31vw, .7em)";
        /* using ems so we can use font size to scale the whole section */
        width: (631/16em);
        height: (636/16em);
        position: relative;
      }

      .cs-picture {
        border-radius: (24/16em);
        display: block;
        position: absolute;
        /* clips img tag corners */
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          /* makes image act like a background image */
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-picture1 {
        width: (522/16em);
        height: (581/16em);
        top: 0;
        right: 0;
      }

      .cs-picture2 {
        width: (414/16em);
        height: (400/16em);
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
        /* 6px - 12px */
        border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
        bottom: 0;
        left: 0;
      }

      .cs-right {
        max-width: (542/16rem);
        margin: auto;
      }

      .cs-topper {
        text-align: left;
        margin-bottom: (4/16rem);
      }

      .cs-title {
        text-align: left;
        max-width: (800/16rem);
      }

      .cs-text {
        text-align: left;
        max-width: (750/16rem);
        margin-bottom: (16/16rem);
        &:last-of-type {
          margin-bottom: (32/16rem);
        }
      }

      .cs-flex-group {
        /* 16px - 32px */
        padding: clamp(1rem, 3vw, 2rem);
        background-color: #f7f7f7;
        border-radius: (16/16rem);
        position: relative;
      }

      .cs-flex-p {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin: 0 0 (16/16rem);
        color: #353535;
      }

      .cs-name {
        font-size: (16/16rem);
        font-weight: bold;
        line-height: 1.2em;
        text-transform: uppercase;
        margin: 0 0 (4/16rem);
        color: var(--headerColor);
        display: block;
      }

      .cs-job {
        font-size: (14/16rem);
        line-height: 1.5em;
        color: #353535;
        display: block;
      }

      .cs-quote-icon {
        /* 60px - 136px */
        width: clamp(3.75rem, 10vw, 8.5rem);
        height: auto;
        position: absolute;
        /* 16px - 32px */
        right: clamp(1rem, 4vw, 2rem);
        bottom: (0/16rem);
      }
    }
  }

  /* Desktop - 1024px */
  @media only screen and (min-width: 64em) {
    #sbs-r {
      .cs-container {
        flex-flow: row;
        justify-content: space-between;
        gap: (52/16rem);
      }

      .cs-left {
        font-size: ~"min(1.2vw, 1em)";
        /* sends it to the right */
        order: 2;
        flex: none;
      }

      .cs-right {
        margin: 0;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #sbs-r {
        .cs-left {
          &:before,
          &:after {
            background: var(--accent);
          }
        }

        .cs-picture2 {
          background-color: var(--dark);
          /* 6px - 12px */
          border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
        }

        .cs-topper {
          color: var(--primaryLight);
        }

        .cs-title,
        .cs-text,
        .cs-h3,
        .cs-flex-p,
        .cs-name {
          color: var(--bodyTextColorWhite);
        }

        .cs-flex-group {
          background-color: var(--accent);
        }

        .cs-job {
          color: var(--bodyTextColorWhite);
          opacity: 0.8;
        }

        .cs-quote-icon {
          opacity: 0.2;
        }
      }
    }
  }

  /*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

  /* Mobile - 360px - Contains hover animation */
  @media only screen and (min-width: 0em) {
    #gallery {
      /* Centers button */
      text-align: center;
      padding: var(--sectionPadding);
      position: relative;
      /* Prevents overflow from the image going off screen */
      overflow: hidden;
      .cs-container {
        width: 100%;
        max-width: (1322/16em);
        margin: auto;
      }

      .cs-topper {
        text-align: center;
        margin-bottom: (16/16rem);
      }

      .cs-title {
        text-align: center;
        max-width: (621/16rem);
        margin-bottom: (40/16rem);
      }

      .cs-image-group {
        /* used rem so it doesn't scale with the font size of on parent */
        font-size: ~"min(1.1vw, 1em)";
        width: 100%;
        max-width: (1322/16em);
        margin: 0 auto (60/16rem);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: (30/16em);
      }

      .cs-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: (30/16em);
      }

      .cs-picture {
        display: block;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-row-1 {
        .cs-picture1 {
          width: (420/16em);
          height: (567/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (629/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (512/16em);
        }
      }

      .cs-row-2 {
        .cs-picture1 {
          width: (420/16em);
          height: (492/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (517/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (629/16em);
        }
      }

      .cs-row-3 {
        .cs-picture1 {
          width: (420/16em);
          height: (625/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (452/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (629/16em);
        }
      }
    }
  }

  /* Dark mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #gallery {
        .cs-title {
          color: var(--bodyTextColorWhite);
        }
      }
    }
  }

  /*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    #reviews {
      /* Centers the button */
      text-align: center;
      padding: var(--sectionPadding);

      .cs-container {
        width: 100%;
        max-width: (1104/16rem);
        margin: auto;
      }

      .cs-topper {
        text-align: center;
        margin-bottom: (16/16rem);
      }

      .cs-title {
        text-align: center;
        max-width: (700/16rem);
      }

      .cs-text {
        text-align: center;
        max-width: (650/16rem);
        /* 88px - 104px */
        margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
      }

      .cs-card-group {
        /* 48px - 64px */
        margin: 0 auto clamp(3rem, 5vw, 4rem);
        padding: 0;
      }

      .cs-item {
        text-align: left;
        list-style: none;
        width: 100%;
        max-width: (542/16rem);
        margin: 0 auto (64/16rem);
        /* Prevents padding from affecting height & width */
        box-sizing: border-box;
        /* Padding L & R - 16px - 32px */
        padding: (60/16rem) clamp(1rem, 3.2vw, 2rem) 0;
        /* 32px - 40px */
        padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
        background: #fff;
        box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
        border-radius: (4/16rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .cs-item-img {
        width: (80/16rem);
        height: (80/16rem);
        position: absolute;
        top: (-40/16rem);
      }

      .cs-item-p {
        font-size: (16/16rem);
        line-height: 1.5em;
        margin: 0 0 (20/16rem);
        padding-bottom: (20/16rem);
        color: var(--bodyTextColor);
        border-bottom: 1px solid #e8e9ec;
      }

      .cs-reviewer {
        font-size: (16/16rem);
        font-weight: 700;
        line-height: 1.5em;
        width: 40%;
        margin: 0 auto 0 0;
        color: var(--headerColor);
        display: block;
      }

      .cs-desc {
        font-size: (14/16rem);
        font-weight: 400;
        color: var(#353535);
        display: block;
      }

      .cs-item-stars {
        width: (96/16rem);
        height: (16/16rem);
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48em) {
    #reviews {
      .cs-card-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: (16/16rem);
      }

      .cs-item {
        /* reset margin so it won't interfere with flexbox */
        margin: 0;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #reviews {
        .cs-title,
        .cs-text,
        .cs-item-p,
        .cs-reviewer {
          color: var(--bodyTextColorWhite);
        }

        .cs-item {
          background: var(--medium);
        }

        .cs-desc {
          color: var(--primaryLight);
        }
      }
    }
  }
</style>
