<section id="faq-1741">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Frequently Asked Questions</span>
      <h2 class="cs-title">
        In consequat tincidunt turpis sit amet imperdiet.
      </h2>
    </div>
    <div class="cs-flex-group">
      <ul class="cs-faq-group">
        <!-- Active class added as default -->
        <li class="cs-faq-item active">
          <button class="cs-button">
            <span class="cs-button-text">
              How do I start a kitchen design project with you?
            </span>
          </button>
          <p class="cs-item-text">
            To begin your kitchen design project, simply reach out to us through
            our contact form or give us a call. We'll set up an initial
            consultation to understand your needs, preferences, and budget. From
            there, we'll guide you through the process, from design concepts to
            installation.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              What payment methods do you accept?
            </span>
          </button>
          <p class="cs-item-text">
            We accept a variety of payment methods including major credit cards,
            bank transfers, and financing options. Our team will work with you
            to find the best payment plan that suits your project.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              How can I track the progress of my kitchen design?
            </span>
          </button>
          <p class="cs-item-text">
            Once your project begins, you'll receive regular updates from your
            dedicated project manager. You can also track progress through our
            online portal, where you can view timelines, design approvals, and
            other key milestones.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              What is your return policy for custom cabinetry?
            </span>
          </button>
          <p class="cs-item-text">
            Due to the custom nature of our cabinetry, returns are handled on a
            case-by-case basis. We strive for complete customer satisfaction and
            will work with you to resolve any issues that may arise. Please
            refer to our full return policy for more details.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Instead of loading a <script>  tag in BaseLayout, we use a scoped style in this component -->
<!-- Astro will process this script automatically. -->
<!-- The processed script will be injected into your page’s <head> with type="module" -->
<!-- As a consequence, there is no need to use the defer attribute when loading a module script because modules are deferred automatically. -->

<script>
// Astro:page-load wrapper for View Transitions purposes
document.addEventListener('astro:page-load', () => { // Makes the script available after navigating to a new page.
    const faqItems = Array.from(document.querySelectorAll(".cs-faq-item"));
    for (const item of faqItems) {
      const onClick = () => {
        item.classList.toggle("active");
      };
      item.addEventListener("click", onClick);
    }
  });
</script>

<style lang="less">
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #faq-1741 {
      padding: var(--sectionPadding);
      position: relative;

      .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: (584/16rem);
        margin: 2em auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
      }

      .cs-title {
        max-width: 15ch;
        margin: 0 0 (32/16rem);
      }

      .cs-faq-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: (12/16rem);
      }

      .cs-faq-item {
        list-style: none;
        width: 100%;
        /* clips all corners of the button that overlap the rounded border */
        overflow: hidden;
        transition: border-bottom 0.3s;

        &.active {
          .cs-button {
            background-color: var(--secondary);
            color: var(--bodyTextColorWhite);

            &:before {
              background-color: var(--bodyTextColorWhite);
              transform: rotate(315deg);
            }

            &:after {
              background-color: var(--bodyTextColorWhite);
              transform: rotate(-315deg);
            }
          }

          .cs-item-text {
            height: auto;
            /* 16px - 24px */
            padding: (16/16rem) clamp(1rem, 2vw, 1.5rem);
            opacity: 1;
            border: 1px solid #e8e8e8;
          }
        }
      }

      .cs-button {
        /* 16px - 20px */
        font-size: clamp(1rem, 2.5vw, 1.25rem);
        font-weight: bold;
        line-height: 1.2em;
        text-align: left;
        width: 100%;
        padding: (16/16rem);
        padding-left: (52/16rem);
        background-color: transparent;
        color: var(--headerColor);
        border: 1px solid #e8e8e8;
        display: block;
        position: relative;
        transition:
          background-color 0.3s,
          color 0.3s;

        &:hover {
          cursor: pointer;
        }

        &:before {
          /* left line */
          content: "";
          width: (8/16rem);
          height: (2/16rem);
          background-color: var(--headerColor);
          opacity: 1;
          display: block;
          position: absolute;
          top: 45%;
          left: (18/16rem);
          transform: rotate(45deg);
          transition: transform 0.5s;
          /* animate the transform from the left side of the x axis, and the center of the y */
          transform-origin: left center;
        }

        &:after {
          /* right line */
          content: "";
          width: (8/16rem);
          height: (2/16rem);
          background-color: var(--headerColor);
          opacity: 1;
          display: block;
          position: absolute;
          top: 45%;
          left: (21/16rem);
          transform: rotate(-45deg);
          transition: transform 0.5s;
          /* animate the transform from the right side of the x axis, and the center of the y */
          transform-origin: right center;
        }
      }

      .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        height: 0;
        margin: 0;
        /* clips the text so it doesn't show up */
        overflow: hidden;
        color: var(--bodyTextColor);
        opacity: 0;
        transition:
          opacity 0.3s,
          padding-bottom 0.3s;
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #faq-1741 {
      .cs-gallery {
        max-width: (1720/16rem);
      }

      .cs-picture {
        grid-column: span 1;
      }
    }
  }

  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #faq-1741 {
      .cs-container {
        max-width: (1280/16rem);
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
      }

      .cs-content {
        text-align: left;
        width: 40%;
        align-items: flex-start;
        /* prevents flexbox from squishing it */
        flex: none;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode {
      #faq-1741 {
        .cs-title,
        .cs-item-text {
          color: var(--bodyTextColorWhite);
        }

        .cs-topper {
          color: var(--primaryLight);
        }

        .cs-faq-item {
          &.active {
            .cs-button {
              background-color: var(--secondary);
              color: var(--bodyTextColorWhite);

              &:before,
              &:after {
                background-color: var(--bodyTextColorWhite);
              }
            }

            .cs-item-text {
              /* 20px - 24px */
              padding-top: clamp(1.25rem, 1.3vw, 1.5rem);
              border-color: var(--accent);
            }
          }
        }

        .cs-button {
          color: var(--bodyTextColorWhite);
          border-color: var(--accent);

          &:before,
          &:after {
            background-color: var(--bodyTextColorWhite);
          }
        }
      }
    }
  }
</style>
