---
import Picture from "astro/components/Picture.astro"
import landingImage from "@assets/images/landing.jpg" // The asset must be imported from src in order to be used in <Picture /> or <Image />
const { title } = Astro.props
---

<section id="int-hero">
<h1 id="home-h">{title}</h1>

<!-- standard <picture> attributes are supported. Set loading to lazy for assets below the fold -->
<Picture 
    src={landingImage}
    formats={['avif', 'webp']} 
    alt="A description of my image."
    aria-hidden="true" 
    decoding="async"
    alt="kitchen cabinets"
    loading="eager"
/>

</section>

<style lang="less">
    
/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
    #int-hero {
        min-height: 30vh;
        padding-top: (50/16rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.7;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        picture {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        h1 {
            font-size: 64/30rem;
            text-align: center;
            width: 96%;
            max-width: (500/16rem);
            margin: 0 auto;
            margin-top: (70/16rem);
            margin-bottom: (30/16rem);
            color: #fff;
            position: relative;
        }

        p {
            text-align: center;
            width: 96%;
            max-width: (400/16rem);
            margin: auto;
            margin-bottom: (30/16rem);
            color: #fff;
            display: block;
        }
    }
}

/* Tablet */
@media only screen and (min-width: 48em) {
    #int-hero {
        font-size: 100%;

        h1 {
            font-size: (64/16rem);
        }
    }
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
    #int-hero {
        font-size: inherit;
        height: auto;
        min-height: (300/16rem);
        padding-top: (180/16rem);
        background-attachment: fixed;
        padding-block-end: (100/16rem);
    }
}
</style>